{% if options.sshd_tcp_keep_alive is defined %}
TCPKeepAlive {{ options.sshd_tcp_keep_alive }}
{% endif %}
{% if options.sshd_client_alive_interval is defined %}
ClientAliveInterval {{ options.sshd_client_alive_interval }}
{% endif %}
{% if options.sshd_client_alive_count_max is defined %}
ClientAliveCountMax {{ options.sshd_client_alive_count_max }}
{% endif %}
{% if options.sshd_compression is defined %}
Compression {{ options.sshd_compression }}
{% endif %}
{% if options.sshd_use_dns is defined %}
UseDNS {{ options.sshd_use_dns }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_banner is defined %}
Banner {{ options.sshd_banner }}
{% endif %}
{% if options.sshd_print_motd is defined %}
PrintMotd {{ options.sshd_print_motd }}
{% endif %}
{% if options.sshd_print_last_log is defined %}
PrintLastLog {{ options.sshd_print_last_log }}
{% endif %}
{% if options.sshd_version_addendum is defined %}
VersionAddendum {{ options.sshd_version_addendum }}
{% endif %}
{% if options.sshd_show_patch_level is defined %}
ShowPatchLevel {{ options.sshd_show_patch_level }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% for hostkey_file in options.sshd_hostkey_files | default([]) %}
HostKey {{ hostkey_file }}
{% endfor %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_syslog_facility is defined %}
SyslogFacility {{ options.sshd_syslog_facility}}
{% endif %}
{% if options.sshd_log_level_type is defined %}
LogLevel {{ options.sshd_log_level_type }}
{% endif %}
{% if options.sshd_login_grace_time is defined %}
LoginGraceTime {{ options.sshd_login_grace_time }}
{% endif %}
{% if options.sshd_permit_root_login is defined %}
PermitRootLogin {{ options.sshd_permit_root_login }}
{% endif %}
{% if options.sshd_strict_modes is defined %}
StrictModes {{ options.sshd_strict_modes }}
{% endif %}
{% if options.sshd_max_auth_tries is defined %}
MaxAuthTries {{ options.sshd_max_auth_tries }}
{% endif %}
{% if options.sshd_max_sessions is defined %}
MaxSessions {{ options.sshd_max_sessions }}
{% endif %}
{% if options.sshd_pubkey_authentication is defined %}
PubkeyAuthentication {{ sshd_pubkey_authentication }}
{% endif %}
{% if options.sshd_authorized_keys_file is defined %}
AuthorizedKeysFile {{ options.sshd_authorized_keys_file }}
{% endif %}
{% if options.sshd_authorized_principals_file is defined %}
AuthorizedPrincipalsFile {{ options.sshd_authorized_principals_file }}
{% endif %}
{% if options.sshd_authorized_keys_command is defined %}
AuthorizedKeysCommand {{ options.sshd_authorized_keys_command }}
{% endif %}
{% if options.sshd_authorized_keys_command_user is defined %}
AuthorizedKeysCommandUser {{ options.sshd_authorized_keys_command_user }}
{% endif %}
{% if options.sshd_host_based_authentication is defined %}
HostbasedAuthentication {{ options.sshd_host_based_authentication }}
{% endif %}
{% if options.sshd_ignore_known_hosts is defined %}
IgnoreUserKnownHosts {{ options.sshd_ignore_known_hosts }}
{% endif %}
{% if options.sshd_ignore_rhosts_file is defined %}
IgnoreRhosts {{ options.sshd_ignore_rhosts_file }}
{% endif %}
{% if options.sshd_permit_empty_passwords is defined %}
PermitEmptyPasswords {{ options.sshd_permit_empty_passwords }}
{% endif %}
{% if options.sshd_password_authentication is defined %}
PasswordAuthentication {{ options.sshd_password_authentication }}
{% endif %}
{% if options.sshd_challenge_response_authentication is defined %}
ChallengeResponseAuthentication {{ options.sshd_challenge_response_authentication }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_kerberos_authentication is defined %}
KerberosAuthentication {{ options.sshd_kerberos_authentication }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_kerberos_or_local_passwd is defined %}
KerberosOrLocalPasswd {{ options.sshd_kerberos_or_local_passwd }}
{% endif %}
{% if options.sshd_kerberos_ticket_cleanup is defined %}
KerberosTicketCleanup {{ options.sshd_kerberos_ticket_cleanup }}
{% endif %}
{% if options.sshd_kerberos_get_afs_token is defined %}
KerberosGetAFSToken {{ options.sshd_kerberos_get_afs_token }}
{% endif %}
{% if options.sshd_kerberos_use_k_user_ok is defined %}
KerberosUseKuserok {{ options.sshd_kerberos_use_k_user_ok }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_gssapi_authentication is defined %}
GSSAPIAuthentication {{ sshd_gssapi_authentication }}
{% endif %}
{% if options.sshd_gssapi_cleanup_credentials is defined %}
GSSAPICleanupCredentials {{ options.sshd_gssapi_cleanup_credentials }}
{% endif %}
{% if options.sshd_gssapi_strict_accept_or_check is defined %}
GSSAPIStrictAcceptorCheck {{ options.sshd_gssapi_strict_accept_or_check }}
{% endif %}
{% if options.sshd_gssapi_key_exchange is defined %}
GSSAPIKeyExchange {{ options.sshd_gssapi_key_exchange }}
{% endif %}
{% if options.sshd_gssapi_enable_k5_users is defined %}
GSSAPIEnablek5users {{ options.sshd_gssapi_enable_k5_users }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_use_pam is defined %}
UsePAM {{ options.sshd_use_pam }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_allow_agent_forwarding is defined %}
AllowAgentForwarding {{ options.sshd_allow_agent_forwarding }}
{% endif %}
{% if options.sshd_allow_tcp_forwarding is defined %}
AllowTcpForwarding {{ options.sshd_allow_tcp_forwarding }}
{% endif %}
{% if options.sshd_gateway_ports is defined %}
GatewayPorts {{ options.sshd_gateway_ports }}
{% endif %}
{% if options.sshd_permit_tunnel is defined %}
PermitTunnel {{ options.sshd_permit_tunnel }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_x11_forwarding is defined %}
X11Forwarding {{ options.sshd_x11_forwarding }}
{% endif %}
{% if options.sshd_x11_display_offset is defined %}
X11DisplayOffset {{ options.sshd_x11_display_offset }}
{% endif %}
{% if options.sshd_x11_use_local_host is defined %}
X11UseLocalhost {{ options.sshd_x11_use_local_host }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_permit_tty is defined %}
PermitTTY {{ options.sshd_permit_tty }}
{% endif %}
{% if options.sshd_use_login is defined %}
UseLogin {{ options.sshd_use_login }}
{% endif %}
{% if options.sshd_permit_user_environment is defined %}
PermitUserEnvironment {{ options.sshd_permit_user_environment }}
{% endif %}
{% if options.sshd_chroot_directory is defined %}
ChrootDirectory {{ options.sshd_chroot_directory }}
{% endif %}
{% if options.sshd_force_command is defined %}
ForceCommand {{ options.sshd_force_command }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_rekey_limit is defined %}
RekeyLimit {{ options.sshd_rekey_limit }}
{% endif %}
{% if options.sshd_ciphers | default([]) | length >0 %}
Ciphers {{ options.sshd_ciphers | join(",") }}
{% endif %}
{% if options.sshd_macs | default([]) | length >0 %}
MACs {{ options.sshd_macs | join(",") }}
{% endif %}
{% if options.sshd_allowed_users | default([]) | length >0 %}
AllowUsers {{ options.sshd_allowed_users | join(" ") }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% if options.sshd_allowed_groups | default([]) | length >0 %}
AllowGroups {{ options.sshd_allowed_groups | join(" ") }}
{% endif %}
{% if options.sshd_denied_users  | default([]) | length >0 %}
DenyUsers {{ options.sshd_denied_users | join(" ") }}
{% endif %}
{% if options.sshd_denied_groups | default([]) | length >0 %}
DenyGroups {{ options.sshd_denied_groups | join(" ") }}
{% endif %}
{% if options.sshd_accept_env | default([]) | length >0 %}
AcceptEnv {{ options.sshd_accept_env | join(" ") }}
{% endif %}
{% if blank_lines %}

{% endif %}
{% for s in options.sshd_subsystems | default([]) %}
Subsystem {{ s.name }} {{ s.command }}
{% endfor %}
