{{ ansible_managed | comment }}

{% macro render_options(options) %}
{% for option in options %}
{% set ansible_option = option.name %}
{% set sshd_option = _sshd_options_map[ansible_option] %}
{% set value = option.value %}
{% if value is not sameas true
      and value is not sameas false
      and (value is string
          or (value is number and value >= 0)) %}
{{ sshd_option }} {{ value | string }}
{% elif value is sequence %}
{% if ansible_option in sshd_options_separated_by_comma %}
{{ sshd_option }} {{ value | join(",") }}
{% elif ansible_option in sshd_options_separated_by_space %}
{{ sshd_option }} {{ value | join(" ") }}
{% else %}
{% for item in value %}
{{ sshd_option }} {{ item }}
{% endfor %}
{% endif %}
{% elif value == true %}
{{ sshd_option }} yes
{% elif value == false %}
{{ sshd_option }} no
{% endif %}
{% endfor %}
{% endmacro %}
{{ render_options(_sshd_main_options) }}
{% for s in sshd_subsystems | default([]) %}
Subsystem {{ s.name }} {{ s.command }}
{% endfor %}

{% for rule in sshd_match_rules %}
Match {% for condition in rule.conditions %}{{ condition.type }} {{ condition.pattern }}
{% endfor %}
{{ render_options(_sshd_rules_options[rule.name]) | indent(width=2, indentfirst=true) }}
{% endfor %}
